img{
    height: 150px;
    width: 15vw;
    border-radius: 20px;
}


.media{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    column-gap: 15vw;
    align-items: center;
    border: white solid 3px;
    margin-top: 3vw;
    border-radius: 20px;
}

.content{
    margin-left: 2vw;
}

.control{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 2vh;
    margin-left: 2vw;
    padding-inline: 2vw;
}

.media-right{
    margin-left: 10vw;
}